<div>
  <div class="field">
    <p>Add new module:</p>
     <form>
      <div class="form-group">
       <label>Name:</label>
	   <input id="module-name" name="module-name"></input>
      </div>
      <div class="form-group">
       <label>Description:</label>
	   <input id="module-desc" name="module-desc"></input>
      </div>
      <div class="form-group">
       <label>PCU:</label>
	   <input id="module-pcu" name="module-pcu" data-dtype="Number" placeholder="0"></input>
      </div>
     </form>
  </div>
</div>
