<div id="calendar-disp-container" style="top: 783px; left: 874px; position: fixed; z-index: 100;">
    <section id="calendar-main" class="calendar-main-user">
        <header class="calendar-header">
          <div id="calendar-move">Calendar</div>
        </header>
        <div>
            <table>
                <tr>
                    <td>Date:</td>
                    <td id="calendar-date" colspan=7>DD-MM-YYYY</td>
                </tr>
                <tr>
                    <td>Time:</td>
                    <td id="calendar-time" colspan=7>HH:MM</td>
                </tr>
                <tr>
                    <td><a class="calendar-button" data-calmodifier="-3">-3 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="-1">-1 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="1">+1 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="3">+3 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="6">+6 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="12">+12 H</a></td>
                    <td><a class="calendar-button" data-calmodifier="24">+24 H</a></td>
                </tr>
            </table>
        </div>
    </section>
</div>