<div class="tab modules flexrow" data-group="primary" data-tab="modules">
  <ol class="inventory-list">
    <li class="item flexrow inventory-header">
		<div class="item-controls flexrow">
			<input type="text" name="data.attributes.highModules" value="{{data.attributes.highModules}}" placeholder="0" data-dtype="Number"/>
		</div>
		<div class="item-name flexrow">High</div>
		<div class="shipmod-desc flexrow">
			<p>Description</p>
		</div>
		<div class="shipmod-short flexrow">
			<p>PCU</p>
		</div>
		<div class="shipmod-short flexrow">
			<a class="item-control item-create highmodule-add" title="Create New Highslot Module"><i class="fas fa-plus-circle"></i> Add</a>
		</div>
    </li>
    <ol class="item-list">
      {{#each modules as |module modid| }}
        {{#if (eq module.slot 1)}}
			<li class="item flexrow">
			  <div class="item-name flexrow">
				<p>{{module.name}}</p>
			  </div>
			  <div class="shipmod-desc">
				<p>{{module.description}}</p>
			  </div>
			  <div class="shipmod-short">
				<p>{{module.pcu}}</p>
			  </div>
			  <div class="shipmod-short">
				<a class="item-control module-delete" id="module-delete-{{modid}}" title="Delete Module"><i class="fas fa-trash"></i></a>
			  </div>
			</li>
		{{/if}}
      {{/each}}
    </ol>

    <li class="item flexrow inventory-header">
		<div class="item-controls flexrow">
			<input type="text" name="data.attributes.midModules" value="{{data.attributes.midModules}}" placeholder="0" data-dtype="Number"/>
		</div>
		<div class="item-name flexrow">Mid</div>
		<div class="shipmod-desc flexrow">
			<p>Description</p>
		</div>
		<div class="shipmod-short flexrow">
			<p>PCU</p>
		</div>
		<div class="shipmod-short flexrow">
			<a class="item-control item-create midmodule-add" title="Create New Midslot Module"><i class="fas fa-plus-circle"></i> Add</a>
		</div>
    </li>
    <ol class="item-list">
      {{#each modules as |module modid| }}
        {{#if (eq module.slot 2)}}
			<li class="item flexrow">
			  <div class="item-name flexrow">
				<p>{{module.name}}</p>
			  </div>
			  <div class="shipmod-desc">
				<p>{{module.description}}</p>
			  </div>
			  <div class="shipmod-short">
				<p>{{module.pcu}}</p>
			  </div>
			  <div class="shipmod-short">
				<a class="item-control module-delete" id="module-delete-{{modid}}" title="Delete Module"><i class="fas fa-trash"></i></a>
			  </div>
			</li>
		{{/if}}
      {{/each}}
    </ol>

    <li class="item flexrow inventory-header">
		<div class="item-controls flexrow">
			<input type="text" name="data.attributes.lowModules" value="{{data.attributes.lowModules}}" placeholder="0" data-dtype="Number"/>
		</div>
		<div class="item-name flexrow">Low</div>
		<div class="shipmod-desc flexrow">
			<p>Description</p>
		</div>
		<div class="shipmod-short flexrow">
			<p>PCU</p>
		</div>
		<div class="shipmod-short flexrow">
			<a class="item-control item-create lowmodule-add" title="Create New Lowslot Module"><i class="fas fa-plus-circle"></i> Add</a>
		</div>
    </li>
    <ol class="item-list">
      {{#each modules as |module modid| }}
        {{#if (eq module.slot 3)}}
			<li class="item flexrow">
			  <div class="item-name flexrow">
				<p>{{module.name}}</p>
			  </div>
			  <div class="shipmod-desc">
				<p>{{module.description}}</p>
			  </div>
			  <div class="shipmod-short">
				<p>{{module.pcu}}</p>
			  </div>
			  <div class="shipmod-short">
				<a class="item-control module-delete" id="module-delete-{{modid}}" title="Delete Module"><i class="fas fa-trash"></i></a>
			  </div>
			</li>
		{{/if}}
      {{/each}}
    </ol>

    <li class="item flexrow inventory-header">
		<div class="item-controls flexrow">
			<input type="text" name="data.attributes.intModules" value="{{data.attributes.intModules}}" placeholder="0" data-dtype="Number"/>
		</div>
		<div class="item-name flexrow">Internal</div>
		<div class="shipmod-desc flexrow">
			<p>Description</p>
		</div>
		<div class="shipmod-short flexrow">
			<p>PCU</p>
		</div>
		<div class="shipmod-short flexrow">
			<a class="item-control item-create intmodule-add" title="Create New Internal Module"><i class="fas fa-plus-circle"></i> Add</a>
		</div>
    </li>
    <ol class="item-list">
      {{#each modules as |module modid| }}
        {{#if (eq module.slot 4)}}
			<li class="item flexrow">
			  <div class="item-name flexrow">
				<p>{{module.name}}</p>
			  </div>
			  <div class="shipmod-desc">
				<p>{{module.description}}</p>
			  </div>
			  <div class="shipmod-short">
				<p>{{module.pcu}}</p>
			  </div>
			  <div class="shipmod-short">
				<a class="item-control module-delete" id="module-delete-{{modid}}" title="Delete Module"><i class="fas fa-trash"></i></a>
			  </div>
			</li>
		{{/if}}
      {{/each}}
    </ol>
  </ol>

  <div class="attribute">
	<h4 class="attribute-name box-title">Power Core</h4>
	<div class="attribute-value multiple">
		<span data-tippy-content="Power used">{{data.attributes.power.value}}</span>
		<span class="sep"> / </span>
		<span data-tippy-content="Power max">{{data.attributes.power.max}}</span>
	</div>
  </div>
</div>
