<div id="resources-disp-container" style="top: 783px; left: 874px; position: fixed; z-index: 100;">
    <section id="resources-main">
        <header class="resources-header">
          <div id="resources-move">Resources</div>
        </header>
        <div>
            <table>
                <tr>
                    <td>Credits:</td>
                    <td id="resources-credits" class="resDisp" colspan=3 data-resname="credits" data-resunit="C">0 C</td>
                </tr>
                <tr>
                    <td>MCredits:</td>
                    <td id="resources-mcredits" class="resDisp" data-resname="mcredits" data-resunit="M">0 M</td>
                    <td>Probes</td>
                    <td id="resources-probes" class="resDisp" data-resname="probes" data-resunit="P">0 P</td>
                </tr>
                <tr>
                    <td style="color: #FF0000">Fuel:</td>
                    <td id="resources-fuel" class="resDisp" style="color: #FF0000" data-resname="fuel" data-resunit="F">0 F</td>
                    <td style="color: #00FFFF">Capacitor:</td>
                    <td id="resources-cap" class="resDisp" style="color: #00FFFF" data-resname="cap" data-resunit="E">0 E</td>
                </tr>
                <tr>
                    <td style="color: #00FF00">Organics:</td>
                    <td id="resources-org" class="resDisp" style="color: #00FF00" data-resname="org" data-resunit="U">0 U</td>
                    <td style="color: #0000FF">Metals:</td>
                    <td id="resources-met" class="resDisp" style="color: #0000FF" data-resname="met" data-resunit="U">0 U</td>
                </tr>
                <tr>
                    <td style="color: #FFFF00">Energy:</td>
                    <td id="resources-ene" class="resDisp" style="color: #FFFF00" data-resname="ene" data-resunit="U">0 U</td>
                    <td style="color: #FF00FF">Exotics:</td>
                    <td id="resources-exo" class="resDisp" style="color: #FF00FF" data-resname="exo" data-resunit="U">0 U</td>
                </tr>
            </table>
        </div>
    </section>
</div>