.shipmod-desc {
	flex: 0 0 250px;
    font-size: 12px;
    color: #7a7971;
    text-align: right;
    border-right: 1px solid #c9c7b8;
}

.shipmod-short {
	flex: 0 0 50px;
    font-size: 12px;
    color: #7a7971;
    text-align: center;
    border-right: 1px solid #c9c7b8;
}